body {
font-family: "Lato", sans-serif;
}
.sidebar {
height: 100%;
width: 150px;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #3A1492;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
}
.sidebar a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 20px;
color: #818181;
display: block;
transition: 0.3s;
}
.sidebar a:hover {
color: #f1f1f1;
}
.sidebar .navbtn:hover {
color: #f1f1f1;
background-color: #111;
font-size: 25px;
}
.sidebar .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}
#myClosedSidebar {
height: 100%;
width: 0px;
position: fixed;
z-index: 1;
top: 0;
background-color: #3A1492;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
}
#myClosedSidebar .openbtn {
position: absolute;
top: 5px;
right: 5px;
font-size: 20px;
color: #818181;
border: none;
}
#myClosedSidebar .openbtn:hover {
color: #f1f1f1;
cursor: pointer;
}
#main {
top: 10px;
margin-left: 150px;
transition: margin-left .5s;
padding: 16px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
.sidebar {padding-top: 15px;}
.sidebar a {font-size: 18px;}
}
